# Frontend app
VITE_APP_NAME=Elevan Property
VITE_APP_ENV=local

# Backend API used by Axios
VITE_API_BASE_URL=http://localhost:5000/api

# Vite dev server settings
VITE_DEV_SERVER_HOST=localhost
VITE_DEV_SERVER_PORT=5173
VITE_DEV_SERVER_STRICT_PORT=true
VITE_DEV_SERVER_OPEN=false

# Vite preview server settings
VITE_PREVIEW_HOST=localhost
VITE_PREVIEW_PORT=4173
VITE_PREVIEW_STRICT_PORT=true
