PORT=5000

DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=db_property
DB_DIALECT=mysql

GOOGLE_SHEET_ID=1nwy276VXH0JvDZVOoddBbqmr9jwpydoKrukWY2Jukw4
GOOGLE_SHEET_GID=0
GOOGLE_SHEET_TAB_NAME=
GOOGLE_SERVICE_ACCOUNT_JSON_PATH=./google-service-account.json

# OpenAI API key must be stored only in backend .env, never in frontend.
OPENAI_API_KEY=isi_openai_api_key_baru_anda
OPENAI_MODEL=gpt-5.5

# Set to false if you want to save only to Google Sheets + MySQL without sending WhatsApp.
ENABLE_AI_WHATSAPP=true

# Fonnte token must be stored only in backend .env, never in frontend.
FONNTE_TOKEN=isi_fonnte_token_baru_anda
